@import "../node_modules/reset-css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --font-family: "Poppins", sans-serif;
  --text-color: #f9f9fb;
  --bg-color: #282b30;

  /* Header */
  --game-header-button-color: #989482;
  --game-header-hover-button-color: #bfb9a3;

  /* Board */
  --game-board-col-size: 64px;
  --game-board-col-text-size: 1.5rem;
  --game-board-background-color: #bfb9a3;
  --game-board-col-background-color: #989482;
  --game-board-result-correct: #008744;
  --game-board-result-different-place: #ffa700;
  --game-board-result-not-in-solution: #787878;

  /* Keyboard */
  --game-keyboard-button-text-color: #f9f9fb;
  --game-keyboard-button-background-color: #989482;
  --game-keyboard-button-hover-background-color: #bfb9a3;
  --game-keyboard-button-text-size: 1.25rem;
  --game-keyboard-button-padding: 8px;
  --game-keyboard-button-margin: 2px;
  --game-keyboard-button-radius: 4px;

  /* Notifications */
  --game-notification-background-color: #787878;
  --game-notification-border-radius: 4px;
  --game-notification-padding: 8px;
  --game-notification-text-size: 1rem;
}

/* @media (prefers-color-scheme: light) {
  :root {

  }
} */

body {
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--bg-color);
}

.container {
  position: relative;
  max-width: 440px;
  margin: 0 auto;
  padding: 16px;
}

game-board#game-board {
  display: flex;
  justify-content: center;
  margin: 0 0 16px;
}
